{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <nav aria-label="breadcrumb" class="bg-light">
            <ol class="breadcrumb p-3">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Demo</li>
            </ol>
        </nav>

        <div class="row m-auto">
            <div class="col-12 d-flex justify-content-center">
                <video width="80%" class="shadow-lg p-1 mt-4 mb-5 bg-body rounded" controls>
                    <source src="" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

{% endblock content %}