{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="mt-5 shadow-lg p-1 mb-5 bg-body rounded">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="{% static '/background/image1.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="{% static '/background/image1.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static '/background/image1.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                {# <img src="{% static '/background/image1.jpg' %}" class="img-fluid mt-5" alt="">#}
            </div>
            <div class="col-4 flex-fill mt-5 shadow-lg p-3 mb-5 bg-body rounded">
                <div class="row mt-4">
                    <div class="col-12 text-center fw-bolder loginIcon">
                       <i class="fa-solid fa-circle-exclamation"></i>
                    </div>
                    <div class="col-12 text-center fw-bolder fs-3">
                        Forgot Password?
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12">
                        <form method="POST" class="text-center mt-5 mb-3">
                            {% csrf_token %}
                            <div class="form-floating mb-4">
                                <input type="email" name="email" class="form-control" required id="id_email"
                                       placeholder="Enter Christ Email ID">
                                <label for="id_email">Christ Email ID</label>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Reset Password
                            </button>
                        </form>
                        <small class="text-muted mt-4">
                            Enter the registered email id, we will send the password reset link to the registered email.
                        </small>
                    </div>
                    <div class="col-12 mt-5">
                            <a href="{% url 'valEmail' %}" class="text-decoration-none float-start">New User?</a>
                            <a href="{% url 'home' %}" class="text-decoration-none float-end">Back To Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}