{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <nav aria-label="breadcrumb" class="bg-light">
            <ol class="breadcrumb p-3">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
        </nav>

        <form class="mt-5" method="POST">
        {% csrf_token %}
            <div class="row m-auto">
                <div class="col-10 offset-1 shadow-lg p-2 mb-5 bg-body rounded">
                    <div class="col-12 text-center fw-bold fs-4 mt-3">
                        Confirm Your Details and Create account
                        <hr/>
                    </div>
                    <div class="row m-auto mt-2">
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nStudent" name="nStudent"
                                       placeholder="Enter your full name" required>
                                <label for="nStudent">Full Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="nGender" name="nGender" aria-label="Select Gender"
                                        required>
                                    {% for gender in gender %}
                                        <option value="{{ gender }}">{{ gender }}</option>
                                    {% endfor %}
                                </select>
                                <label for="nGender">Gender</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="nCourse" name="nCourse" aria-label="Select Course"
                                        required>
                                    {% for course in courses %}
                                        <option value="{{ course }}">{{ course }}</option>
                                    {% endfor %}
                                </select>
                                <label for="nCourse">Course</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="nPassword" name="nPassword"
                                       placeholder="Password" required>
                                <label for="nPassword">Password</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <input type="hidden" value="{{ email }}" name="nEmail" id="nEmail">
                                <input type="hidden" value="{{ otp }}" name="nOTP" id="nOTP">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="{{ email }}"
                                       required disabled>
                                <label for="Email">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="nDepartment" name="nDepartment"
                                        aria-label="Select the department"
                                        required>
                                    {% for department in departments %}
                                        <option value="{{ department }}">{{ department }}</option>
                                    {% endfor %}
                                </select>
                                <label for="nDepartment">Department</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nMobile" name="nMobile"
                                       placeholder="Mobile number" required>
                                <label for="nMobile">Mobile number</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="ncPassword" name="ncPassword"
                                       placeholder="Password" required>
                                <label for="ncPassword">Confirm Password</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nRollNumber" name="nRollNumber"
                                       placeholder="Enter Roll Number / employee ID"
                                       required>
                                <label for="nRollNumber">Roll Number / Employee ID</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="nBatch" name="nBatch" aria-label="Select Batch"
                                        required>
                                    {% for batch in batch %}
                                        <option value="{{ batch }}">{{ batch }}</option>
                                    {% endfor %}
                                </select>
                                <label for="nBatch">Batch</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Address" id="Address" name="Address" required
                              style="height: 130px" disabled>CHRIST (Deemed to be University), Pune Lavasa Campus, Central Block, Lavasa, Pune, Maharashtra,412112.</textarea>
                                <label for="Address">Address</label>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-2 mb-4">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}