{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <nav aria-label="breadcrumb" class="bg-light">
            <ol class="breadcrumb p-3">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
        </nav>

        <div class="row m-auto">
            <div class="col-10 offset-1 shadow-lg p-2 mb-5 bg-body rounded">
                <div class="col-12 text-center fw-bold fs-4 mt-3">
                    Confirm Your Details and Create account
                    <hr/>
                </div>

                <div class="row mt-5 mb-5">
                    <div class="col-6 offset-3 text-center">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-floating mb-3 text-center">
                                <input type="email" class="form-control" id="emailInput" name="emailInput"
                                       placeholder="example@example.christuniversity.com">
                                <label for="emailInput">Enter CHRIST Email</label>
                            </div>
                            <button type="submit" class="btn btn-success mt-3 ">Request OTP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}