venv/
.idea/
db.sqlite3

greenvasa/__pycache__/
sitehome/__pycache__/
siteadmin/__pycache__/
settings/__pycache__/
sitehome/migrations/__pycache__/
siteadmin/migrations/__pycache__/
siteuser/__pycache__/
siteuser/migrations/__pycache__/