<footer class="bg-light">
    <p class="placeholder-glow" style="font-size: 5px">
  <span class="placeholder col-12"></span>
</p>

    <div class="text-center p-3 m-3">
        <a class="float-start text-decoration-none text-dark" href="{% url 'demo' %}">Demo</a>
       Made with <span class="text-danger">❤</span> for CU Lavasa | <i class="fa-solid fa-registered"></i> EZBus | By CHRIST Infotech Lavasa
       <a class="float-end text-decoration-none text-dark" href="{% url 'faq' %}">FAQ</a>
    </div>
</footer>