{% load static %}

<nav class="navbar navbar-light bg-light shadow p-3 mb-5 bg-body rounded">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a href="{% url 'home' %}">
                <img src="{% static '/logos/logo.png' %}" alt="Logo" width="200" height="70"
                     class="d-inline-block align-text-top">
            </a>
        </div>

        <div class="d-flex">
            <div class="col-12 m-2 fs-3 fw-bolder">
                 <a href="{% url 'home' %}" class="text-decoration-none text-dark">
              <i class="fa-solid fa-bus"></i> Greenvasa
                 </a>
            </div>
        </div>
    </div>
</nav>

