<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sales Page

  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top"style="background-color: #054D41;">
  <div class="container-fluid">
  	<a class="navbar-brand" href="javascript:void(0)">
      <a class="navbar-brand" href="javascript:void(0)">Logo1</a>
  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
  		<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="mynavbar">
  		<ul class="navbar-nav me-auto">
  			<li class="nav-item">
  				<a class="nav-link" href="javascript:void(0)">Products</a>
  			</li>
  			<li class="nav-item">
  				<a class="nav-link" href="javascript:void(0)">Sell</a>
  			</li>
  		</ul>
  		<form class="d-flex">
  			<input class="form control me-2" type="text" placeholder="Search" size="95">
  			<button class="btn btn-success" type="buton"><span class="iconify" data-icon="entypo:magnifying-glass" style="color: white;"></span></button>
  		</form>
  		<ul class="navbar-nav me-auto">
  			<li class="nav-item">
  				<a class="nav-link" href="javascript:void(0)">About Us</a>
  			</li>
  		</ul>
      <img src="logo.jpeg" alt="img" style="max-width: 100px; max-height: 90px"></img></a> 
  	</div>
  </div>
</nav>

<div> padding-top: 80px
  padding-bottom: 120px
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h2>PREVIOUS ADS</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <hr class="d-sm-none">
    </div>

    <div class="col-sm-8">
      <h2>POST YOUR AD HERE</h2>
      <h4>Select category: </h4>
      <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Mobiles
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Electronics
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Books
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Furniture
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Hobbies
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Fashion
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Bikes
  </label>
</div>

<hr>

<div class="mb-3">
  <h4>Add some details</h4>
  <label for="Brandname" class="form-label">Brand Name</label>
  <input class="form-control" type="text" id="Brandname">
</div>

<div class="mb-3">
  <label for="adtitle" class="form-label">Ad Title</label>
  <input class="form-control" type="text" id="adtitle" >
</div>

<div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <textarea class="form-control" id="description" rows="3"></textarea>
</div>

<hr>

<div cladd="mb-3">
  <h4>Enter a Price</h4>
  <label for="price" class="form-label">Price</label>
  <span>&#8377;
    <input class="form-control" type="number" min="0.00" max="100000000.00" id="price"> 
  </span>
</div>

<hr>

<div class="mb-3">
  <h4> Upload upto 9 Photos</h4>
  <label for="pictureupload" class="form-label">Upload Pictures</label>
  <input class="form-control" type="file" id="pictureupload" accept="image/*" multiple >

</div>
</div>
</body>
</html>