{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a class="text-decoration-none" href="{% url 'main:index' %}">Greenvasa</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>

    <div class="container">

        <div class="row mt-5 mb-5">
            <div class="card p-0">
                <h5 class="card-header p-3" style="background-color: white; color: black; font-weight: 600;">About
                    Us</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="card-text lh-lg">
                                As Mahatma Gandhi said, &quot;There is enough for everybody&#39;s need but not for
                                everybody&#39;s greed&quot;.
                                Inspired by this sustainability message, we the students of MBA, Christ
                                (Deemed-to-be-University), Pune Lavasa, bring to you – GREENVASA.
                                GREENVASA is a way of living sustainably in the picturesque town of
                                LAVASA, Pune. It is a small step at the University to conserve resources, it’s a
                                step in the direction to reduce our carbon footprint. The concept very simply put
                                is to buy and sell quality second-hand goods within the University to avoid
                                wasteful spending and reduce future waste. Things that have an extended life
                                can be sold to your fellow students or staff using our proprietary technology.
                                It’s a platform built by the students, for the students. Earn money from your
                                second-hand goods by selling on Greenvasa, and reduce your footprint by
                                buying second-hand quality goods. Let’s REDUCE, REUSE, and then
                                RECYCLE. Happy Sustainable living.
                            </p>
                        </div>
                        <div class="col-6 d-none d-lg-block">
                            <iframe width="100%" height="380"
                                    src="https://drive.google.com/file/d/17LbmDld3iWbCPib3K3lTuvHDM9HQJS2s/preview"
                                    allow="autoplay"></iframe>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <h5 style="font-family: 'Lusitana';">Director&#39;s Address</h5>
                            <hr/>
                        </div>

                        <div class="col-4 d-flex justify-content-center align-items-center d-none d-lg-block">
                            <img class="img-fluid rounded" src="{% static 'img/director.png' %}">
                        </div>
                        <div class="col">
                            <p class="card-text lh-lg">
                                Tied to the core value of service that the university stands for, Greenvasa is a novel
                                initiative
                                that will facilitate the mindful use and exchange of materials in Lavasa. Sustainability
                                has
                                a
                                special place in higher education because it induces thoughtfulness. To be able to think
                                about
                                the environment when we buy, exchange and discard our possessions can go a long way in
                                creating a community-first mindset. Social responsibility is something that we
                                constantly
                                try
                                to integrate into education, however putting it to practice in this manner will involve
                                students
                                completely in the process. After a year of conservation and energy saving initiatives 
                                by
                                the
                                students of CHRIST Lavasa, I am certain that this project too will see its merits soon
                                and
                                will
                                be beneficial to all who participate. Since Lavasa is built on the concept of new
                                urbanism,
                                it
                                is structured to encourage community living and a responsible lifestyle. Greenvasa fits
                                well
                                with the synergy of the township and the socially-driven efforts of the CHRIST Lavasa
                                campus. I invite everyone to be a part of this endeavour, to form a wonderful community,
                                and
                                take a step towards making the city we live in more sustainable and responsible.
                            </p>
                            <footer class="blockquote-footer"
                                    style="font-family: 'Lusitana'; font-weight:900; text-align: right;"> Dr. Fr. Jossy P
                                George <cite title="Source Title"></cite></footer>
                        </div>
                        <div class="col-12">
                            <hr/>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <p class="card-text lh-lg">
                            Climate Change, Global Warming. ‘’Can we save the Planet, NO! Save
                            Mankind’’ cos Earth will heal but we won’t. GREENVASA an initiative
                            conceptualized as a joint initiative by Faculty and students of the batch of
                            MBA’20, carried forward by the batch of MBA ’21 and the Dept. of Data
                            Science. We wholeheartedly thank our Director and Dean, Fr. Dr. Jossy George
                            for supporting, and encouraging us through words, deeds and resources.

                        </p>
                        <footer class="blockquote-footer"
                                style="font-family: 'Lusitana'; font-weight:900; text-align: right;"> Prof Stanny Dias
                            <cite
                                    title="Source Title"> Faculty School of Business and Management, MBA Christ
                                Lavasa</cite>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}