{% extends 'base.html' %}
{% load static %}
{% block content %}
    
        <div class="row m-5">
          <div class="col">
            <div class="row">
              <h3 class="text-center mt-5">Admin Dashboard</h3>
                <hr/>

              <div class="m-4 justify-content-center">
                <div class="row justify-content-center">
                 
                  
                  <div class="col-4 shadow justify-content-center" style="width: 450px; height: 220px; text-align: center; background-color: white; border: solid 2px #005C45; border-radius: 5px; margin-right: 15px; margin-top: 10px;">
                    <a href="{% url 'main:admin_products' %}" style="text-decoration: none; color: inherit;">
                      <div class="row pt-5" style="text-align: center;">
                        <h4>Products that need your verification</h4>
                      </div>
                      <div class="row" style="text-align: center;">
                        <p style="color: #005C45; font-size:4rem; font-weight: 500;"> {{all_pending}} </p>
                      </div>
                  </a>
                  </div>
                  
                  <div class="col-4 shadow justify-content-center" style="width: 450px; height: 220px; text-align: center; background-color: white; border: solid 2px #005C45; border-radius: 5px; margin-right: 15px; margin-top: 10px;">
                    <a href="{% url 'main:admin_deleted_products' %}" style="text-decoration: none; color: inherit;">
                      <div class="row pt-5" style="text-align: center;">
                        <h4>Products that has been deleted</h4>
                      </div>
                      <div class="row" style="text-align: center;">
                        <p style="color: #005C45; font-size:4rem; font-weight: 500;"> {{all_deleted_prod}} </p>
                      </div>
                  </a>
                  </div>

                  <div class="col-4 shadow justify-content-center" style="width: 450px; height: 220px; text-align: center; background-color: white; border: solid 2px #005C45; border-radius: 5px; margin-right: 15px; margin-top: 10px;">
                    <a href="{% url 'main:admin_live_products' %}" style="text-decoration: none; color: inherit;">
                      <div class="row pt-5" style="text-align: center;">
                        <h4>Products that are live now</h4>
                      </div>
                      <div class="row" style="text-align: center;">
                        <p style="color: #005C45; font-size:4rem; font-weight: 500;"> {{all_approved}} </p>
                      </div>
                  </a>
                  </div>
                
                  
                </div>
              </div>

            </div>
          </div>
        </div>


      <script type="text/javascript">
        $(document).ready(function(){
          $('.thumb a').mouseover(function(e){
            e.preventDefault();
            $('.imgBox img').attr("src", $(this).attr("link"));
          })
        })
      </script>

{% endblock content %}