{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a class="text-decoration-none" href="{% url 'main:index' %}">Greenvasa</a></li>
                <li class="breadcrumb-item "><a class="text-decoration-none" href="{% url 'main:admin_dashboard' %}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">New Sell Request</li>
            </ol>
        </nav>
    </div>

    <div class="container mt-2">
        <div class="row">
            <div class="col-12 fw-bold fs-4 text-center">
                Seller Submitted Products
                <hr/>
            </div>
        </div>
    </div>

    <div class="m-4 m=0">
        <div class="row justify-content-center  row-cols-sm-2 row-cols-md-3 m-0">
            {% for product in products %}

                <div class="col shadow p-3 m-2">
                    <a href="{% url 'main:admin-product-detail' product.product_id %}" class="text-decoration-none">
                        <div class="row">
                            <div class="col-5">
                                <div id="carouselExampleControls-{{ product.pk }}" class="carousel slide"
                                     data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% if product.product_image1 %}
                                            <div class="carousel-item active">
                                                <img src="{{ BASIC_DIR }}/gmedia/{{ product.product_image1 }}"
                                                     alt=""
                                                     class="d-block w-100">
                                            </div>
                                        {% endif %}
                                        {% if product.product_image2 %}
                                            <div class="carousel-item">
                                                <img src="{{ BASIC_DIR }}/gmedia/{{ product.product_image2 }}"
                                                     alt=""
                                                     class="d-block w-100">
                                            </div>
                                        {% endif %}
                                        {% if product.product_image3 %}
                                            <div class="carousel-item">
                                                <img src="{{ BASIC_DIR }}/gmedia/{{ product.product_image3 }}"
                                                     alt=""
                                                     class="d-block w-100">
                                            </div>
                                        {% endif %}
                                        {% if product.product_image4 %}
                                            <div class="carousel-item">
                                                <img src="{{ BASIC_DIR }}/gmedia/{{ product.product_image4 }}"
                                                     alt=""
                                                     class="d-block w-100">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleControls-{{ product.pk }}"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleControls-{{ product.pk }}"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>

                            <div class="col-7">
                                <div class="fw-bolder fs-2 text-dark">
                                    {{ product.product_name }}
                                   <div class="fw-light fs-6">{{ product.category }}</div>
                                </div>
                                <div class="fw-bold fs-3 mt-2" style="color: #005C45">
                                    ₹ {{ product.expected_price }}
                                </div>
                                <div class="fw-normal text-dark">
                                    {{ product.product_description|truncatechars:200 }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock content %}