{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a class="text-decoration-none" href="{% url 'main:index' %}">Greenvasa</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Sell an Item</li>
            </ol>
        </nav>
    </div>


    <div class="container mt-5" style="">
        <div class="row p-5 shadow" style="background-color: white; border: solid 2px #005C45; border-radius: 5px;">

            <div class="row"><h2>Sell An Item</h2></div>
            <form method="post" class="row g-3 needs-validation" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="validationCustom01" class="form-label">Product name</label>
                    <input type="text" name="product_name" class="form-control" id="validationCustom01" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide product name.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationCustom04" class="form-label">Category</label>
                    <select class="form-select" name="product_category" id="validationCustom04" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="Mobiles">Mobiles</option>
                        <option value="Laptops">Laptops</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Electronics">Electronics</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid category.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationCustomUsername" class="form-label">Expected Price</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">₹</span>
                        <input type="text" name="product_price" class="form-control" id="validationCustomUsername"
                               aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please Enter Expected Price.
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <label for="exampleFormControlTextarea1" class="form-label">Tell us about your product</label>
                    <textarea class="form-control" name="product_description" id="exampleFormControlTextarea1" rows="3"
                              required></textarea>
                    <div class="invalid-feedback">
                        Please tell us about your product.
                    </div>
                </div>

                <div class="col-md-5">
                    <label for="validationCustom05" class="form-label">Product photos(4)</label>
                    <!-- <input type="file" id="pro-image" name="pro-image" style="" class="form-control" accept=".jpg,.gif,.png, .jpeg" multiple required> -->
                    <div class="row">
                        <div class="col">
                            <input type="file" id="pro-image" name="pro-image1" style="" class="form-control"
                                   accept=".jpg,.gif,.png, .jpeg" required>
                            <div class="mt-3"></div>
                            <input type="file" id="pro-image" name="pro-image2" style="" class="form-control"
                                   accept=".jpg,.gif,.png, .jpeg">
                        </div>
                        <div class="col">
                            <input type="file" id="pro-image" name="pro-image3" style="" class="form-control"
                                   accept=".jpg,.gif,.png, .jpeg" required>
                            <div class="mt-3"></div>
                            <input type="file" id="pro-image" name="pro-image4" style="" class="form-control"
                                   accept=".jpg,.gif,.png, .jpeg">
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Please upload your product images.
                    </div>
                </div>

                <div class="col-12" style="display: flex; justify-content: end;">
                    <button class="btn btn-primary" style="background-color: #005C45; " type="submit">Sell Item
                    </button>
                </div>
            </form>
            <small class="text-muted">Your product will be listed in the app once the admin approves the product details.</small>
        </div>

    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()


    </script>

{% endblock content %}