{% extends 'base.html' %}
{% load static %}
{% block content %}


    {% if msg %}
        <div class="container mt-3 mb-3">
            <div class="alert alert-warning" role="alert">
                {{ msg }}
            </div>
        </div>
    {% endif %}

    <div class="container mt-5">

        <div class="row shadow rounded-3 mt-5">
            <div class="col d-flex justify-content-center align-items-center">
                <div>
                    <img class="d-block mx-auto" src="{% static 'img/logo1.png' %}" alt="" width="250">
                    <h5 class="card-title text-center mb-5 fw-bold fs-3"
                        style="font-family: Lusitana;color: #005C45">
                        GREENVASA <sub style="font-family: 'Satisfy';">making living sustainable</sub></h5>
                </div>
            </div>
            <div class="col p-5">

                <form method="POST">
                    {% csrf_token %}

                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nName" name="nName"
                                       placeholder=" " required>
                                <label for="nName">Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="nEmail" name="nEmail"
                                       placeholder="name@christuniversity.in" required>
                                <label for="nEmail">Email address</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="nPassword1" name="nPassword1"
                                       placeholder="Password" required>
                                <label for="nPassword1">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="nPassword2" name="nPassword2"
                                       placeholder="Password" required>
                                <label for="nPassword2">Confirm Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" id="nPhone" name="nPhone"
                                       placeholder="Phone Number" pattern="[0-9]{10}" required>
                                <label for="nPhone">Phone</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn text-uppercase fw-bold text-white" type="submit"
                                    style="background-color: #005C45;">Sign Up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="row text-center mb-3">
                <a href="{% url 'main:g_login' %}" class="text-decoration-none">Already having an account?</a>
            </div>
        </div>
    </div>

{% endblock content %}