{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="px-4 py-5 my-5 mt-0 pt-0 text-center">
        <img class="d-block mx-auto" src="{% static 'img/logo1.png' %}" alt="" width="250" height="230">
        <div class="container" >
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card border-0 shadow rounded-3 my-5 mt-0" >
                <div class="card-body p-4 p-sm-5" >
                  <h5 class="card-title text-center mb-5 fw-bold fs-5" style="font-family: Lusitana;">GREENVASA <sub style=" font-family: 'Satisfy';">making living sustainable</sub></h5>

                  <form method="post" >
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                      {{form.username}}
                      
                      <label for="floatingInput">Name</label>
                      
                    </div>
                    <div class="form-floating mb-3">
                      {{form.email}}
                      <label for="floatingInput">Email address</label>
                      
                    </div>
                    <div class="form-floating mb-3">
                      {{form.phone}}
                      <label for="floatingInput">Mobile Number</label>
                      
                    </div>
                    <div class="form-floating mb-3">
                      {{form.password1}}
                      <label for="floatingPassword">Password</label>
                      
                    </div>
                    <div class="form-floating mb-3">
                      {{form.password2}}
                      <div class="form-text confirm-message"></div>
                      <label for="floatingPassword">Confirm Password</label>
                      
                    </div>
                    <div class="d-grid">
                      <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                        Up</button>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <a href="{% url 'main:g_login' %}">Already have an account?</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $('#password, #confirmpassword').on('keyup', function(){
  
          $('.confirm-message').removeClass('success-message').removeClass('error-message');
  
          let password=$('#password').val();
          let confirm_password=$('#confirmpassword').val();
  
          if(password===""){
              $('.confirm-message').text("Password Field cannot be empty").addClass('error-message');
          }
          else if(confirm_password===""){
              $('.confirm-message').text("Confirm Password Field cannot be empty").addClass('error-message');
          }
          else if(confirm_password===password)
          {
              $('.confirm-message').text('Password Match!').addClass('success-message');
          }
          else{
              $('.confirm-message').text("Password Doesn't Match!").addClass('error-message');
          }
  
      });
  </script>

{% endblock content %}